div#content
    include header/header

    div.container-fluid
        // Page Heading
        .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 #{title}
            //a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='#')
            //    i.fas.fa-download.fa-sm.text-white-50
            //    |  Generate Report

        block content