include pug_inc/mixins/mixins

doctype html

html(lang="en")
    head
        include pug_inc/meta
        include pug_inc/link

        include pug_inc/ga_tracking
    body(class="bg-gradient-primary")
        .container
            .row(class="justify-content-center")
                div(class="col-xl-10 col-lg-12 col-md-9")
                    .card(class="o-hidden border-0 shadow-lg my-5")
                        .card-body(class="p-0")
                            +register_login_card_body

        include pug_inc/footer
        include pug_inc/scripts
