li.nav-item.dropdown.no-arrow.d-sm-none
    a#searchDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i.fas.fa-search.fa-fw
    // Dropdown - Messages
    .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
        form.form-inline.mr-auto.w-100.navbar-search
            .input-group
                input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
                .input-group-append
                    button.btn.btn-primary(type='button')
                        i.fas.fa-search.fa-sm