form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
    .input-group
        input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
        .input-group-append
            button.btn.btn-primary(type='button')
                i.fas.fa-search.fa-sm